In [ ]:
import pandas as pd

Matplotlib is building the font cache; this may take a moment.

In [5]:
df=pd.read_csv("newlucky28.csv")

In [6]:
df.head()

,id,open_time,code,num1,num2,num3,sum,odd_even,big_small
0,2944287,2023-12-31 23:59:30,"['9', '6', '4']",9,6,4,19,Odd,Big
1,2944288,2023-01-01 00:03:00,"['8', '5', '9']",8,5,9,22,Even,Big
2,2944289,2023-01-01 00:06:30,"['8', '5', '2']",8,5,2,15,Odd,Big
3,2944290,2023-01-01 00:10:00,"['0', '9', '2']",0,9,2,11,Odd,Small
4,2944291,2023-01-01 00:13:30,"['1', '8', '0']",1,8,0,9,Odd,Small

In [7]:
print(df.isnull().sum())

id           0
open_time    0
code         0
num1         0
num2         0
num3         0
sum          0
odd_even     0
big_small    0
dtype: int64

In [8]:
print(df[df.duplicated()])

Empty DataFrame
Columns: [id, open_time, code, num1, num2, num3, sum, odd_even, big_small]
Index: []

In [11]:
# Count duplicate rows across all columns
num_duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

# Display duplicate rows
print(df[df.duplicated()])

Number of duplicate rows: 0
Empty DataFrame
Columns: [id, open_time, code, num1, num2, num3, sum, odd_even, big_small]
Index: []